---
layout: default
title: Jai's weblog!
---

<div id="home">
  <h1>..posts</h1>
  <ul class="posts index-menu">
    {% for post in site.posts %}
    <li>
      <a class="post-index-link" href="{{ post.url }}">
        <span class="post-title">{{ post.title }}</span>
        <span class="post-subtitle">{{ post.subtitle }}</span>
      </a>
      <small>{{ post.date | date: "%-d %B, %Y" }}</small>

      {% if post.tags.size > 0 %}
      <span>
      {% for tag in post.tags %}
        <span class="tag-label">{{ tag }}</span>
      {% endfor %}
      </span>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
</div>

<footer>
<p align="center">--</p>
© <a href = "https://en.wikipedia.org/wiki/Copyleft">Copyleft</a>: Jaipradeesh
</footer>
