---
layout: default
---
<h2 class="page-title">{{ page.title }}</h2>
<h3 class="page-subtitle">{{ page.subtitle }}</h3>

<link rel="shortcut icon" href="http://www.dolftax.github.io/images/favicon.ico">

<p class="meta">{{ page.date | date: "%-d %B, %Y" }}</p>

<div class="post">
{{ content }}
</div>

<div id="disqus_thread"></div>

<script type="text/javascript">
var disqus_shortname = 'dolftax';

(function() {
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
})();
</script>

<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

<footer>
<p align="center">--</p>
© <a href = "https://en.wikipedia.org/wiki/Copyleft">Copyleft</a>: Jaipradeesh
</footer>
